<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Component_Model -->
      <package
            uri="http:///com/graeditor/component_model.ecore"
            class="com.graeditor.component_model.Component_modelPackage"
            genModel="model/Component_Model.genmodel"/>
   </extension>

</plugin>
