<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Flow_Model -->
      <package
            uri="http:///com/graeditor/flow_model.ecore"
            class="com.graeditor.flow_model.Flow_modelPackage"
            genModel="model/Flow_Model.genmodel"/>
   </extension>

</plugin>
