<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FlowView -->
      <package
            uri="http://www.example.org/FlowView"
            class="FlowView.FlowViewPackage"
            genModel="model/FlowView.genmodel"/>
   </extension>

</plugin>
