<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="FlowView Diagram Type"
            type="FlowView"
            id="GraEditor.FlowView.FlowViewDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="FlowView Diagram Type Provider"
            class="graeditor.flowview.diagram.FlowViewDiagramTypeProvider"
            id="GraEditor.FlowView.FlowViewDiagramTypeProvider">
         <diagramType
               id="GraEditor.FlowView.FlowViewDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>

</plugin>
